Django==1.8.1
GDAL==1.11.0
Jinja2==2.7.3
MarkupSafe==0.23
PAM==0.4.2
Pillow==8.2.0
Pygments==1.6
Shapely==1.3.0
Sphinx==1.2.2
Twisted-Core==14.0.2
Twisted-Web==14.0.2
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.46
argparse==1.2.1
characteristic==0.1.0
chardet==2.2.1
classicmenu-indicator==0.07
colorama==0.3.1
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
django-fieldlevel-permissions==0.1
django-stored-messages==1.1.0
docutils==0.12
duplicity==0.6.23
gyp==0.1
html5lib==0.999
httplib2==0.9
idna==0.9
lockfile==0.8
lxml==3.3.6
matplotlib==1.3.1
numpy==1.8.2
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.2
piston-mini-client==0.7.5
psycopg2==2.5.3
pyOpenSSL==0.13.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.67
pycurl==7.19.5
pygobject==3.14.0
pyparsing==2.0.3
pyproj==1.8.9
pyserial==2.6
pysmbc==1.0.14.1
pyspatialite==3.0.1
python-apt==0.9.3.10ubuntu1
python-dateutil==1.5
python-debian==0.1.22
pytz==2012c
pyxdg==0.25
reportlab==3.1.8
requests==2.3.0
roman==2.0.0
service-identity==1.0.0
sessioninstaller==0.0.0
six==1.7.3
software-center-aptd-plugins==0.0.0
system-service==0.1.6
unity-lens-photos==1.0
urllib3==1.8.3
wheel==0.24.0
wsgiref==0.1.2
xdiagnose==3.6.6
youtube-dl==2014.08.05
zope.interface==4.1.1
