{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<!--<title>{% block title %}User test{% endblock %}</title>-->
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body>
		<div id="header">
			{% block header %}
			<a href="{% url 'index' %}">{% trans "Home" %}</a> |

			<hr />
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			<hr />
			{% endblock %}
		</div>
	</body>
</html>