{% extends 'application_portal/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% load bootstrap3 %}

{% load bootstrap_toolkit %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% block content %}
<div class="container-fluid">  
        <div class="background">      
        <div class="hero-unit" style="background-image: url({% static 'img/map-image.png' %})">
            <h2>Welcome to the LADM website</h2>
                    <p>This project aims at automating Land processes in Kenya.This website contains various sections that can be accessed from the navigation toolbar on top on this page.</p>
                    <p>Click on the link of interest to access the resource.</p>
            <p><a href="http://www.ladmkenya.wordpress.com" class="fa fa-fw fa-gift">Learn more &raquo;</a></p>
        </div>
        </div>
        <div class="span3">
            <div class="well sidebar-nav"> 
                <li class="nav-header">Important links</li>
                <ul class="nav nav-list">
                    <li><a href="/ladm/search/">View Parcel map</a> </li>
                    <li><a href="/ladm/apply/">Submit applications</a> </li>
                </ul>     
            </div>
            <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Information Section</li>
              <li><a href="/ladm/status/">My application Status</a></li>
              <li><a href="/ladm/contact/">Contact Us</a></li>
              <li><a href="/ladm/about/">About Us</a></li>
              <li class="nav-header">Organisation</li>
              <li><a href="/ladm/services/">Services</a></li>
              <li><a href="/ladm/datas/">Data</a></li>
              <li><a href="/ladm/review/">Review</a></li>
              <li class="nav-header">Other Links</li>
              <li><a href="https://ladmkenya.wordpress.com/the-team/">The Team</a></li>
              <li><a href="http://www.dkut.ac.ke/academics/institute/institute-of-geomatics-gis-a-remote-sensing-iggres">IGGReS</a></li>
            </ul>
            
          </div>      
        </div>
        <div class="span9">
                <h4><a class="fa fa-fw fa-gift" href="">Data</a></h4>
                <p>Land administration provides documentation on people to the land relationships. Datasets serve as the key requirement for any decision making tool or in any GIS.The pilot LADM adopted the model-driven approach.The land parcel data serves as the primary section in any land administsration system and so was the case in this system.</p>
                <p>The datasets used included;</p>
                <br>
                <ul>
                    <li><strong>Land Parcels</strong>- Served as the basic unit in the land administration section.</li>
                    <li><strong>Landuse data</strong>- This was used to place constraints in the system on actions on land parcels and also guide on the landuse zoning of the study area.</li>
                    <li><strong>Landcover data</strong>- Used to guide on the issues of change of user in the system</li>
                    <li><strong>Rivers data</strong>- Used to generate the riparian reserves</li>
                    <li><strong>Riparian</strong>- To guide on the areas that need attention in land management to avoid depletion of important natural resources (alongside rivers)</li>
                    
                </ul>
                <p>More data is being considered so as to help in better decision making on matter pertaining land administration.</p>
              <p>The data can be viewed from the <a href="/ladm/search/">Map Section</a></p>
                <hr>
        </div>
</div>
{% endblock %}

