{% extends 'application_portal/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% load bootstrap3 %}

{% load bootstrap_toolkit %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% block content %}
<div class="container-fluid">  
        <div class="background">      
        <div class="hero-unit" style="background-image: url({% static 'img/map-image.png' %})">
            <h2>Welcome to the LADM website</h2>
                    <p>This project aims to automate land management transaction processes in Kenya.This website contains various sections accessible via the navigation toolbar on top on this page and also on the menu on the left side of the page.</p>
                    <p>Click on the link of interest to access the resource.</p>
            <p><a href="http://www.ladmkenya.wordpress.com" class="fa fa-fw fa-gift">Learn more &raquo;</a></p>
        </div>
        </div>
        <div class="span3">
            <div class="well sidebar-nav"> 
                <li class="nav-header">Important links</li>
                <ul class="nav nav-list">
                    <li><a href="/ladm/search/">View Parcel map</a> </li>
                    <li><a href="/ladm/apply/">Submit applications</a> </li>
                </ul>     
            </div>
            <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Information Section</li>
              <li><a href="/ladm/status/">My application Status</a></li>
              <li><a href="/ladm/contact/">Contact Us</a></li>
              <li><a href="/ladm/about/">About Us</a></li>
              <li class="nav-header">Organisation</li>
              <li><a href="/ladm/services/">Services</a></li>
              <li><a href="/ladm/datas/">Data</a></li>
              <li><a href="/ladm/review/">Review</a></li>
              <li><a href="/ladm/faq/">FAQ</a></li>
              <li class="nav-header">Other Links</li>
              <li><a href="https://ladmkenya.wordpress.com/the-team/">The Team</a></li>
              <li><a href="http://www.dkut.ac.ke/academics/institute/institute-of-geomatics-gis-a-remote-sensing-iggres">IGGReS</a></li>
            </ul>
            
          </div>      
        </div>
        <div class="span9">
        <div class="row">
            <div class="col-md-4">            
            <div class="span9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Introduction</h4>
                    </div>
                    <div class="panel-body">
                        <p>A group of GIS and land administration professionals initiated the development of the pilot land administration system, that is based on the Land Administration Domain Model (LADM) that facilitates the quick and efficient management of land transaction processes such as search, registration and change of user.Just like social issues benefit from proper land administration,land administration itself benefit from good land administration systems.</p>
                        <p>Implemented at this initial stage, is one of the numerous land administration workflows that affect the landuse and landcover:<strong>change of user workflow</strong>.The system has been developed on Free and Open Source Software.It is envisaged that other land administration workflows will be developed with time as the pilot system is improved.</p>
                        <hr>
                    </div>
                </div>
            </div>
            </div>
            <div class="span4">
                <h4><a class="fa fa-fw fa-gift" href="/ladm/services/">Services</a></h4>
                <p>The project focused on service delivery to the system users on basis of information,tools and capabilities of the system. The workflow implemented in this project included the change of user. the pilot LADM provides various services including change of user evaluation application, application status and parcel information search among others.The services available in the pilot system are subject to improvement based on the upscale strategy to be rolled out with time.</p>
              <p><a class="fa fa-fw fa-gift" href="/ladm/services/">Read More &raquo;</a></p>
            </div>
            <div class="span4">
                <h4><a class="fa fa-fw fa-gift" href="/ladm/datas/">Data</a></h4>
                <p>Land administration provides documentation on people to the land relationships. Datasets serve as the key requirement for any decision making tool or in any GIS.The pilot LADM adopted the model-driven approach.The land parcel data serves as the primary section in any land administsration system and so was the case in this system.</p>
                <hr>
                <p><a class="fa fa-fw fa-gift" href="/ladm/datas/">Read More &raquo;</a></p>
            </div>
            <br>
        
    <div class="span9">
                <h4><a class="fa fa-fw fa-gift" href="/ladm/review/">Review of impacts</a></h4>
                <p>Standards are needed in land administration, both for initial data acquisition and for data maintenance. And previous experiences have shown that it is not an easy task to design and set up a land administration. Many countries still lack the modelling expertise to set up land administration systems. Upon undertaking the project, <strong>The pilot implementaion of the Land Administration Domain Model (LADM)</strong>, there are many anticipated impacts in the land administration system in Kenya.Some of the impacts include:</p>
                <p>
                    <ul>
                       <li>Automation and paperless ‘Change of User’ process in Kenya</li>
                       <li>Actualization of a harmonized land information spatial database</li>
                       <li>provision of reference to spatial data in ‘Change of User’ decision making process</li>
                       <li>Access and action on the same land data by various decision makers</li>

                      <li>Reduced landscape fragmentation from informed decisions and thus helping in mitigating climate change leading factors</li>
                    </ul>
                </p>
                <p>Some of the listed impacts are direct while others are indirect. All these are helpful in improving and growing the land management sector in Kenya and foster sustainable development.</p>
                <hr>
                <p><a class="fa fa-fw fa-gift" href="/ladm/review/">Read More &raquo;</a></p>
            </div>
    </div>
</div>
</div>
{% endblock %}

